@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {

  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.table-title h3 {
   color: rgb(58, 57, 57);
   font-size: 30px;
   font-weight: 400;
   padding: 50px;
   text-align: center;
   font-style:normal;
   font-family: Montserrat-Medium, helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

table{
display: block;
  height: 450px;
  overflow-y: scroll;
}


th {
  color:#D5DDE5;;
  background:#333436;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #272b33;
  font-size:16px;
font-family: Montserrat-Regular;
  padding:0px 10px;
  text-align:center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  td{
    font-family:  Montserrat-Regular;
  }
tr {
 font-family: Arial, Helvetica, sans-serif;
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:rgb(167, 168, 180);
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:rgb(206, 203, 203);
}
 
tr:nth-child(odd):hover td {
  background:rgb(167, 168, 180);
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:14px;
  color: #000;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgb(162, 163, 165);
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}
td.text-left {
  text-align: left;
}
td.text-center {
  text-align: center;
}
td.text-right {
  text-align: right;
}
